apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: eco-worker-scaler
  namespace: default
spec:
  scaleTargetRef:
    name: eco-worker
  minReplicaCount: 0
  maxReplicaCount: 10
  cooldownPeriod: 30
  pollingInterval: 5
  triggers:
  - type: kafka
    metadata:
      bootstrapServers: my-cluster-kafka-bootstrap.kafka.svc:9092
      consumerGroup: eco-worker-group
      topic: video-processing
      lagThreshold: "1" # Scale 1 replica per 1 message lag (Aggressive scaling for demo)
